html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 20px 30px 20px;
  min-width: 300px;
  font: 400 1em "Montserrat", sans-serif;
  color: #333;
}

h1 {
  font: 400 2.5em "Sail", serif;
  color: #20a1bb;
}

h2, h3, h4, h5, h6 {
  font-family: "Arima Madurai", serif;
  font-weight: 400; 
}

a, a:visited {
  color: #20a1bb;
}

a:hover {
  color: #15697a;
}

#profile-img {
  float: right;
  width: 100px;
  border-radius: 50%;
  margin-left: 10px;
  margin-bottom: 10px;
}

#footer {
  margin: 30px 0 20px 0;
}